@font-face {
    font-family: 'Muller-Bold';
    font-style: normal;
    font-weight: bold;
    /*noinspection CssUnknownTarget*/
    src:
            local('MullerBold'),
            local('Muller Bold'),
            local('Fontfabric - MullerBold'),
            url("/fonts/Muller-Bold.otf") format('otf');
}

@font-face {
    font-family: 'Muller-Regular';
    font-style: normal;
    font-weight: bold;
    /*noinspection CssUnknownTarget*/
    src:
            local('MullerRegular'),
            local('Muller Regular'),
            local('Fontfabric - MullerRegular'),
            url("/fonts/Muller-Regular.otf") format('otf');
}

.App {
    height: 100%;
}

.left {
    position: absolute;
    width: 300px;
    height: auto;
    background: rgba(34,133,132, 0.6);
    z-index: 100;
    overflow-y: hidden;
}

.right {
    position: absolute;
    padding-left: 330px;
    padding-top: 30px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
}

.table-top {
    width: 100%;
}

.table-top > tr > td:nth-child(1) {
    padding-right: 30px;
    width: 70%;
}

.table-top > tr > td:nth-child(2) {
    width: 30%;
}

.table-top-inside {
    width: 100%;
}

.table-top-inside > tr > td:nth-child(1) {
    padding-right: 20px;
    width: 40%;
}

.table-top-inside > tr > td:nth-child(2) {
    width: 60%;
}

.table-middle {
    padding-top: 30px;
    width: 100%;
}

.table-top > tr > td:nth-child(1) {
    padding-right: 30px;
    width: 50%;
}

.table-top> tr > td:nth-child(2) {
    width: 50%;
}

.table-middle > tr > td:nth-child(1) {
    padding-right: 30px;
    width: 50%;
}

.table-middle > tr > td:nth-child(2) {
    width: 50%;
}

.table-top-block-left {
    width: 100%;
    min-width: 830px;
    height: 300px;
    background: #2A2C2E;
    border-radius: 10px;
    overflow: hidden;
}

.table-middle-block {
    width: 100%;
    height: 300px;
    background: #2A2C2E;
    border-radius: 10px;
    overflow: hidden;
}

.block-bottom {
    margin-top: 40px;
    width: 100%;
    background: #2A2C2E;
    border-radius: 10px;
    padding: 30px 40px;
}


.top-line-red {
    width: 100%;
    height: 17px;
    opacity: 0.3;
    background: #914B4D;
}
.top-line-blue {
    width: 100%;
    height: 17px;
    opacity: 0.3;
    background: #227B7A;
}

.menu-chart-block {
    width: 300px;
    height: 175px;
    margin: 0;
    padding: 0;
}

.menu-chart-block-top {
    width: 300px;
    height: 100px;
    margin: 0;
    padding: 0;
}

.menu-chart-title {
    text-transform:  uppercase;
    letter-spacing: 2px;
    font-family: 'Muller-Bold', sans-serif;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-shadow: 0 2px 4px #00000080;
}

.menu-chart-value {
    text-transform:  uppercase;
    font-family: 'Muller-Bold', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 64px;
    text-shadow: 0 2px 4px #00000080;
}

.highcharts-title {
    font-family: 'Muller-Bold', sans-serif;
}

.menu-chart-block-bottom {
    width: 300px;
    height: 75px;
}

.menu-chart-block:nth-child(1) {
    background: rgba(34,133,132, 1);
}

.menu-chart-block:nth-child(2) {
    background: rgba(34,133,132, 0.9);
}

.menu-chart-block:nth-child(3) {
    background: rgba(34,133,132, 0.8);
}

.menu-chart-block:nth-child(4) {
    background: rgba(34,133,132, 0.7);
}

.menu-chart-block:nth-child(5) {
    background: rgba(34,133,132, 0.6);
}

.menu-chart-block:nth-child(6) {
    background: rgba(34,133,132, 0.5);
}

.menu-chart-block:nth-child(7) {
    background: rgba(34,133,132, 0.6);
}

.vertical-bar {
    padding-top: 10px;
    width: 70px;
    text-align: center;
    margin-right: 20px;
}

.vertical-bar-title {
    font-family: 'Muller-Regular', sans-serif;
    color: white;
    font-size: 9px;
    margin: 5px;
}

.vertical-bar-back {
    position: relative;
    text-align: center;
    /* Rectangle 16: */
    background: #373B40;
    width: 64px;
    height: 78px;
    border-radius: 5px;
    overflow: hidden;
    /* Rectangle 16: */
}

.vertical-bar-fill {
    height: 20px;
    background: #568855;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.vertical-bar-value {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: 'Muller-Bold', sans-serif;
}

.horizontal-bar {
    padding-top: 5px;
    width: 90px;
    text-align: center;
    margin-right: 14px;
}

.horizontal-bar-title {
    font-family: 'Muller-Regular', sans-serif;
    color: white;
    text-align: center;
}

.horizontal-bar-back {
    overflow: hidden;
    position: relative;
    text-align: center;
    /* Rectangle 16: */
    background: #373B40;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    /* Rectangle 16: */
}

.horizontal-bar-fill {
    width: 20px;
    background: #568855;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
}

.main-indicator-block {
    text-align: center;
    position: relative;
    height: 300px;
    width: 100%;
}
.speed-indicator-wrapper {
    position: absolute;
    height: 300px;
    width: 100%;
}
.problem-indicator-wrapper {
    position: absolute;
    text-align: center;
    bottom: 40px;
    height: 60px;
    width: 100%;
}

.problem-indicator {
    display: inline-block;
    border-radius: 4px;
    width: 250px;
    height: 44px;
    background: #AB5455;
    font-size: 12px;
    color: #fff;
    text-transform:  uppercase;
    letter-spacing: 2px;
    padding-top: 15px;
    font-family: 'Muller-Bold', sans-serif;
    vertical-align: middle;
}

.top-cell {
    vertical-align: top;
}

.reasons {
    background: #914b4d;
}
.fits-table {
    margin-right: 40px;
}

.fits-table > tbody> tr > td {
    text-align: center;
    width:1%;
    white-space:nowrap;
}

.fits-table > tbody > tr:nth-child(1) > td {
    padding-top: 5px;
    font-family: 'Muller-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

.fits-table > tbody > tr:nth-child(n + 2) > td {
    padding-top: 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #98A0A918;
}

.fits-table > tbody > tr:nth-child(n + 2) > td:nth-child(1) {
    padding-top: 20px;
    font-family: 'Muller-Regular', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
}

.fits-table > tbody > tr:nth-child(n + 2) > td:nth-child(2) {
    padding-top: 20px;
    font-family: 'Muller-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
}

.fits-table > tbody > tr:nth-child(n + 2) > td:nth-child(3) {
    padding-top: 20px;
    font-family: 'Muller-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 12px;
}

.btn-plus {
    display: inline-block;
    border-radius: 2px;
    background: #568855;
    width: 38px;
    padding-top: 2px;
    margin-right: 4px;
}
.btn-minus {
    display: inline-block;
    border-radius: 2px;
    background: #AB5455;
    padding-top: 2px;
    width: 38px;
}
